<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>User <%= @record_owner %> has created the following case <%= link_to @case_id, @url %>.</p>
  </body>
</html>
