<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>For Significant Harm Case <%= @child.id %>, kindly expedite the process to complete initial assessment.</p>
    <p>Initial assessment should be completed before the following date: <%= @due_date %></p>
    <p><%= link_to(@child.short_id, @url + '/cases/' + @child.id).html_safe %></p>
  </body>
</html>
